*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    font-family: sans-serif;
}

.title{
    color: #fafafa;
    text-align: center;
}

.subtitle{
    color: #fafafa;
    text-align: center;
}

.link{
    display: block;
    width: 100px;
    margin: 20px auto;
    text-decoration: none;
    color: #fafafa;
    text-align: center;
    cursor: pointer;
    border: 3px solid #FFC745;
}

.text__link{
    text-align: center;
    color: #fafafa;
}